*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Category Container */
.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 16px;
    padding: 10px;
    max-width: 100%;
    background-color: #f0f0f0;
}

.category-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
}

.category-container input[type="radio"] {
    margin-right: 8px;
}

.category-container label:hover {
    background-color: #f0f0f0;
}

.category-container input[type="radio"]:checked + span {
    font-weight: bold;
}


.vbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
}

#amount,#date{
    width: 40%;
}

button.btn-icon{
    cursor: pointer;
width: max-content;
aspect-ratio: 1;
padding: 2px;
}

.cta{
    background-color: cornflowerblue;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    max-width: 40%;
display: flex;
align-items: center;
justify-content: center;
}

.cta > svg path{
    stroke:#fff;
}